<%= form_for(@inventario) do |f| %>
  <% if @inventario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventario.errors.count, "error") %> prohibited this inventario from being saved:</h2>

      <ul>
      <% @inventario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :marca %><br>
    <%= f.text_field :marca %>
  </div>
  <div class="field">
    <%= f.label :modelo %><br>
    <%= f.text_field :modelo %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :costo %><br>
    <%= f.text_field :costo %>
  </div>
  <div class="field">
    <%= f.label :sistema_operativo %><br>
    <%= f.text_field :sistema_operativo %>
  </div>
  <div class="field">
    <%= f.label :cpu %><br>
    <%= f.text_field :cpu %>
  </div>
  <div class="field">
    <%= f.label :ram %><br>
    <%= f.text_field :ram %>
  </div>
  <div class="field">
    <%= f.label :disco_duro %><br>
    <%= f.text_field :disco_duro %>
  </div>
  <div class="field">
    <%= f.label :tarjeta_madre %><br>
    <%= f.text_field :tarjeta_madre %>
  </div>
  <div class="field">
    <%= f.label :monitor %><br>
    <%= f.text_field :monitor %>
  </div>
  <div class="field">
    <%= f.label :tipo_conexion %><br>
    <%= f.text_field :tipo_conexion %>
  </div>
  <div class="field">
    <%= f.label :direccion_mac %><br>
    <%= f.text_field :direccion_mac %>
  </div>
  <div class="field">
    <%= f.label :usuario %><br>
    <%= f.text_field :usuario %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="area">
    
  </div>
  <div class="field">
    <%= f.label :estado_general %><br>
    <%= f.text_area  :estado_general%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
