<!DOCTYPE html>
<html>
<head>
  <title>Iequipos</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Inicio', root_path %></li>
      <li><%= link_to 'Inventario', inventarios_path%></li>
    </ul>
  </div>
</nav>
<%= yield %>

</body>
</html>
